{% extends 'base.html.twig' %}

{% block title %}Ajoutez une nouvelle catégorie{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouez une catégorie</button>
    {{ form_end(form) }}
{% endblock %}